/* light theme */

.fill {
    display: flex;
    flex: 1;
    margin: 1px;
    border-radius: 4px;
    transition: background 100ms ease-in-out;
}

.controlFill[data-theme='light'] {
    margin: 1px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
}

.controlFill[data-theme='light']:hover {
    background-color: rgb(249, 249, 249, 0.5);
}

.controlFill[data-theme='light']:active {
    background-color: rgb(249, 249, 249, 0.3);
}

.controlFill[data-theme='light'][data-state='disabled'] {
    background-color: rgb(249, 249, 249, 0.3);
}

.controlFill[data-theme='dark'] {
    background: rgba(255, 255, 255, 0.0605);
}

.controlFill[data-theme='dark']:hover {
    background: rgba(255, 255, 255, 0.0837);
}

.controlFill[data-theme='dark']:active {
    background: rgba(255, 255, 255, 0.0326);
}

.controlFill[data-theme='dark'][data-state='disabled'] {
    background: rgba(255, 255, 255, 0.0419);
}

/* text control */

.textControlFill[data-theme='light'] {
    background: rgba(255, 255, 255, 0.7);
}

.textControlFill[data-theme='light']:hover {
    background: rgba(249, 249, 249, 0.5);
}

.textControlFill[data-theme='light']:active {
    background: rgba(255, 255, 255, 1);
}

.textControlFill[data-theme='light']:focus-within {
    background: rgba(255, 255, 255, 1);
}

.textControlFill[data-theme='light'][data-state='disabled'] {
    background: rgba(249, 249, 249, 0.3);
}

.textControlFill[data-theme='dark'] {
    background: rgba(255, 255, 255, 0.06);
}

.textControlFill[data-theme='dark']:hover {
    background: rgba(255, 255, 255, 0.08);
}

.textControlFill[data-theme='dark']:active {
    background: rgba(30, 30, 30, 0.7);
}

.textControlFill[data-theme='dark']:focus-within {
    background: rgba(30, 30, 30, 0.7);
}

.controlFill[data-theme='dark'][data-state='disabled'] {
    background: rgba(255, 255, 255, 0.04);
}
