.slider {
    position: relative;
    min-width: 120px;
    height: 22px;
}

.tick {
    position: absolute;
}

.tick::before,
.tick::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 4px;
}

.slider[data-theme='light'] .tick::before,
.slider[data-theme='light'] .tick::after {
    background: rgba(0, 0, 0, 0.45);
}

.slider[data-theme='dark'] .tick::before,
.slider[data-theme='dark'] .tick::after {
    background: rgba(255, 255, 255, 0.54);
}

.tick::after {
    top: 17px;
}

.tick::before {
    top: 1px;
}

/* Rail */



/* Track */



