.slider {
    position: relative;
    min-width: 120px;
    height: 22px;
}

.tick {
    position: absolute;
}

.tick::before,
.tick::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 4px;
}

.slider[data-theme='light'] .tick::before,
.slider[data-theme='light'] .tick::after {
    background: rgba(0, 0, 0, 0.45);
}

.slider[data-theme='dark'] .tick::before,
.slider[data-theme='dark'] .tick::after {
    background: rgba(255, 255, 255, 0.54);
}

.tick::after {
    top: 17px;
}

.tick::before {
    top: 1px;
}

/* Rail */

.rail {
    position: absolute;
    pointer-events: none;
    height: 4px;
    top: 9px;
    bottom: 9px;
    border-radius: 12px;
}

.slider[data-theme='light'] .rail {
    background: rgba(0, 0, 0, 0.45);
}

.slider[data-theme='dark'] .rail {
    background: rgba(255, 255, 255, 0.54);
}

/* Track */

.progress {
    position: absolute;
    pointer-events: none;
    background: #0096ff;
    height: 4px;
    top: 9px;
    bottom: 9px;
    border-radius: 12px;
}

.thumb {
    position: absolute;
    cursor: pointer;
    padding: 1px;
    height: 22px;
    width: 22px;
}

.thumbInner {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.slider[data-theme='light'] .thumbInner {
    background: white;
}

.slider[data-theme='dark'] .thumbInner {
    background: rgba(69, 69, 69, 1);
}

.thumb span {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transition: all 0.1s ease;
    background: #0096ff;
}

.thumb:hover span {
    height: 16px;
    width: 16px;
}

.thumb:active span {
    height: 10px;
    width: 10px;
    opacity: 0.6;
}

.slider[data-theme='light'][data-state='disabled'] .thumbInner span {
    height: 10px !important;
    width: 10px !important;
    background: rgba(0, 0, 0, 0.32) !important;
}

.slider[data-theme='dark'][data-state='disabled'] .thumbInner span {
    height: 10px !important;
    width: 10px !important;
    background: rgba(255, 255, 255, 0.16) !important;
}
